extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Enter your email
          form.form.form-reset-password
            .form__group
              label.form__label(for="password") Password
              input#password.form__input(
                type="password",
                required,
                name="password",
                placeholder="••••••••",
                minlength="8"
              )
            .form__group.ma-bt-md
              label.form__label(for="passwordConfirm") Confirm Password
              input#password-confirm.form__input(
                type="password",
                required,
                name="passwordConfirm",
                placeholder="••••••••",
                minlength="8"
              )
            .form__group.form__photo-upload
            .form__group.form__photo-upload

            .form__group.right
              button.btn.btn--small.btn--green Reset Password
